/* Importación de fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Fenix&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300;1,400&display=swap');

/* Definición de variables de color */
:root{
    --main-color: #145533
}

/* Estilos generales para el documento */
*{
    padding:0;
    margin:0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Altura del elemento HTML */
html{
    margin: 0;
    height: 2000px; 
}



/* Estilos para el encabezado */
header{
    width: 100%;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1111;
    transition: .5s ease-in-out; 

}
header .logo img{
    width: 35px;/*25px*/
    margin-top: -5px;
}

header .logo a{
    font-size: 30px;/*24px*/
    font-family: 'Fenix', serif;
    color: #145533; 
    text-decoration: none;
    text-transform: capitalize;
}

header ul{
    display: flex;
    margin: 0;
}

header ul li{
    margin: 0px 15px;
}

header ul li a{
    text-decoration: none;
    display: block;
    color: #fff;
    text-transform: uppercase;
    transition: .4s;
}

header ul li a:hover{
    color:  #059b4d;
}

header .bars{
    display: none;
}

header .bars img{
    width: 30px;

}


header.active{
    background: #fff;
    box-shadow: 1px 0px 0px #DDD;
}

header.active .logo a{
    color: var(--main-color);
}

header.active ul li a{
    color: var(--main-color);

} 

@media(max-width:991px){

    header .navigation{
        position: absolute;
        top: 75px;
        width: 50%; 
        right: -50%; 
        height: 92vh;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
        box-shadow: -1px 0px 0px #DDD;
    }
    header .navigation li{
        margin: 11px 0px ;
    }
    header .navigation li a{
        color: var(--main-color);
    }
    header .bars{
        display: block;
    }
}

/* Estilos para las secciones con imagen de fondo */

.home-slider .swiper-slide .big-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-slider .swiper-slide .big-bg {
    color: #fff;
    width: 100%;
    max-width: 100%; /* 800px Ajustar según sea necesario para mantener el diseño deseado */
    margin: 0 auto; /* Centrar el contenido */
}

/* Estilos para el contenido de cada slide */
.home-slider .swiper-slide .big-bg h1 {
    font-size: 60px;
    /*margin-bottom: 10px;*/
}

.home-slider .swiper-slide .big-bg hr {
    background: #fff;
    height: 1px;
    width: 50%;
    margin: 15px auto;
}

.home-slider .swiper-slide .big-bg p {
    font-size: 17px;
    margin-bottom: 20px;
}

.home-slider .swiper-slide .big-bg .bg-link{
    margin-top: 20px;
}

.home-slider .swiper-slide .big-bg .bg-link a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    padding: 12px 20px;
    border: 2px solid #fff;
    display: inline-block;
    position: relative;
    overflow: hidden ;
    z-index: 1;
}

.home-slider .swiper-slide .big-bg .bg-link a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -100%;
    background: #145533;
    width: 100%;
    height: 100%;
    transition: .4s ease-in-out;
    z-index: -1;
}

.home-slider .swiper-slide .big-bg .bg-link a:hover::before {
    left: 0%;
}

.swiper-button-next,
.swiper-button-prev{
    color: white; 
    font-size: 24px; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--main-color); 
}
/* Estilos para la paginación del swiper */
.swiper-pagination-bullet {
    background-color: black; 
    width: 12px; 
    height: 12px;
    margin: 0 8px; 
}

.swiper-pagination-bullet-active {
    background-color: var(--main-color);
}


/* Ajustes para la sección .home-slider en pantallas más pequeñas */
@media (max-width: 438px) {
    .home-slider .swiper-slide .big-bg h1 {
        font-size: 40px;
    }
    .home-slider .swiper-slide  .big-bg .bg-link a {
        font-size: 14px;
    }
}

/* Media query para Samsung Galaxy Fold */
@media (max-width: 280px) and (max-height: 653px) {
    .home-slider .swiper-slide .big-bg {
        padding: 10px;
    }
    .home-slider .swiper-slide .big-bg h1 {
        font-size: 30px;
    }
    .home-slider .swiper-slide .big-bg p {
        font-size: 14px;
    }
    .home-slider .swiper-slide .big-bg .bg-link a {
        font-size: 12px;
        padding: 8px 15px;
    }
}


/* Estilos para la colección de imágenes horizontales */
.big-collection{
    width: 100%;/*90% NO 100*/
    margin: 100px auto 0;
    overflow: hidden; 
    background-color: #f8f8f8;
    padding: 20px 0;
    display: grid;
    place-items: center;
    position: relative;
}
.big-collection .collect-flex{
    display: flex;
    justify-content: center; /*space-betwen*/
    align-items: center;
    flex-wrap: wrap;
    /*grid-row-gap: 15px ;*/
    gap: 20px;

    width: max-content;
    height: 100%;
    margin: 0 auto;
    overflow: hidden; /* Oculta cualquier desbordamiento horizontal */
    animation: scrollBanner 20s linear infinite;
}

@keyframes scrollBanner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-20%);
    }
}


.big-collection .collect-flex .collect{
    margin: 0px 10px;
    text-align: center;
    
}

.big-collection .collect-flex .link{
    margin-top: 20px;
}

.collect-flex .link a{
    text-decoration: none;
    color: var(--main-color);
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}
.collect-flex .link a::before{
    content: "";
    position: absolute;
    background: var(--main-color);
    top: 23px;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scale(0);
    transition: .5s ease-in-out;
}

.collect-flex .collect:hover .link a::before{
    transform: scale(1);
}

.collect-flex .collect .image{
    position: relative; 
}


.collect-flex .collect .image::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;/*CONTORNO DE LAS IMAGNES*/
}

.big-collection .collect-flex .collect .image img {
    max-width: 220px; /* Ajusta según tus necesidades */
    max-height: 220px; /* Ajusta según tus necesidades */
    width: 100%; /* Para asegurar que la imagen no supere el tamaño máximo definido */
    height: auto; /* Para mantener la proporción de la imagen */
}
/* Animación para las imágenes dentro de la colección de imágenes horizontales */

.collect-flex .collect:hover .image::before{
    animation: animate1 .8s linear forwards;
}
@keyframes animate1{
    0%{
        width: 0;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color:transparent ;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color:transparent ;

    }
    100%{   
        width: 100%;
        height: 100%;
        border-top-color: var(--main-color);
        border-right-color: var(--main-color);
        border-bottom-color: transparent;
        border-left-color:transparent ;
    }
}

.collect-flex .collect .image::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 0;
    border: 2px solid transparent;
}

.collect-flex .collect:hover .image::after{
    animation: animate2 .8s linear forwards;
}
@keyframes animate2 {
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color:var(--main-color) ;
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--main-color);
        border-left-color: var(--main-color) ;
    }
}





/* Estilos para la sección de productos */
.shop{
    width: 90%;/*90  NO 99*/
    margin: 120px auto;/*200px   ESTO TAMB 120px auto*/
    background-color: #f8f8f8; 
    padding: 50px 0;
    
}
.shop .shop-title{
    margin-bottom: 50px;
    padding: 30px 0;/**/
    margin-top: 5px;/**/
    text-align: center;
}

.shop-title h2{
    font-weight: 700;
    font-family: 'Fenix', serif;
}

.shop-title p{
    font-size: 15px;
}

.shop .shop-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


/* Estilos para la caja de información en los productos */
.shop-flex .shop-one{
    width: 26%;
    display: flex;
    flex-direction: column;
}

.gallery {
    display: block;
    width: 100%;
    height: auto;
}
.shop-flex .shop-one img{
    width: 100%;
    height: auto;
}

.shop-three{
    width: 44%;
}
.shop-three img{
    width: 100%;
}
/**/
.shop-flex .shop-one .image-one{ 
    margin-bottom: 30px;
    position: relative;
}
.shop-one .overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
    padding: 0px 20px;
    color: #fff;
    visibility: hidden;
    transition: .5s ease-in-out;
}

.shop-one .overly section{
    font-size: 15px;
}

.shop-one .overly h3{
    margin-bottom: 3px;
}
.shop-one .overly span{
    color: #4abcc6;
}
.shop-one .overly .link{
    position: absolute;
    bottom: 50px ;/*50px*/
    cursor: pointer;
}

.overly .link a{
    text-decoration:none ;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    overflow: hidden;
}

.overly .link i{
    vertical-align: middle ;
}

.overly .link a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100% ;
    height: 2px;
    background: #fff ;
    transition: .5s ease-in-out;
}

.overly .link a:hover::before{
    left: 0;
}

.shop-one .image-one:hover  .link{
    animation: linking .8s ease-in-out forwards;
}
.shop-one .image-one:hover .overly{
    visibility: visible;
}
.shop-flex .shop-three{
    position: relative;
    height: 100%;
}
.shop-three .overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    /*flex-direction: column;  Cambiamos la dirección del flex container */
    align-items: center;
    /*justify-content: flex-end; /* Alineamos el contenido en la parte inferior */
    padding: 0px 20px;
    /*text-align: center;*/
    color: #fff;
    visibility: hidden;
    transition: .5s ease-in-out;
}


/* ... Aguregue ... */
.shop-three .overly section {
    font-size: 15px;
}

.shop-three .overly h3 {
    margin-bottom: 2px;
}

.shop-three .overly span {
    color: #4abcc6;
}

.shop-three .overly .link {
    margin-top: 70%; /*Mueve el enlace a la parte inferior */
    margin-left: -15%;
}
/* ... agregue lo de arriba  ... */


 .shop-three:hover  .link{
    animation: linking .8s ease-in-out forwards;
} 

.shop-three:hover .overly{
    visibility: visible;
}

.shop-three:hover .txt{
    animation: header .8s ease-in-out forwards;
}

@keyframes linking{
    0%{
        opacity: 0;
        bottom: 0px;
    }
    100%{
        opacity: 1;
        bottom: 30px;/*30px 50 AJUSTAR BIEN*/
    }
}

.shop-one .image-one  .link{
    animation: linking2 .8s ease-in-out forwards;
}
@keyframes linking2{
    0%{
        opacity: 1;
        bottom: 30px; /* 30px 1yo AJUSTAR BIEN*/
    }
    100%{
        opacity: 0;
        bottom: 0px;
    }
}

.shop-one .image-one:hover .text{
    animation:  header .8s ease-in-out forwards;
}

@keyframes header{
    0%{
        opacity: 0;
        margin-bottom: 70px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0%;
    }
}

.shop-one .image-one .text{
    animation:  header2 .8s ease-in-out forwards;
}

@keyframes header2 {
    0%{
        opacity: 1;
        margin-bottom: 0px;
    }
    100%{
        opacity:0;
        margin-bottom: 70%;
    }
}

@media(max-width: 991px){
    .shop-flex .shop-one{
       width: 49%; 
    }
    .shop-flex .shop-three{
        width: 100% ;
    }
}

@media(max-width: 576px){
    .shop-flex .shop-one{
        width: 100%; 
     }
}

/* Estilos para la sección de productos2 caracteristicas */

.big-product{
    width: 90%;/*90% MAAAAARRRR NO 99*/
    margin: 100px auto;/*100px MAAAAR NO 120*/
    background-color: #f8f8f8; 
    padding: 50px 0; /*  espacio interno superior e inferior */
}
.big-product .product-title{
    margin-bottom: 50px;
    text-align: center;
}
.big-product .product-title p{
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 15px;
}
.big-product .product-title h2{
    font-weight: 600;
}
.big-product .product-title hr{
    width: 120px;/*120px MAAR NO 200PX*/
    margin: 14px auto;/*14PX MARR NO 15*/
    background-color: #145533; /*GRAY*/
}
.big-product .product-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-flex .product-one{
    width: 24%;
    margin-bottom: 20px;
}
.product-flex .product-one img{
    width: 100%;
    border-radius: 10px;
}
.product-flex .product-one .product-image{
    position: relative;

}

.product-one .product-image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(249, 249, 249, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.product-image .overlay i{
margin: 0px 5px ;
padding: 5px;
border: 1px solid #000;
font-size: 13px;
cursor: pointer;
opacity: 0;
}

.product-image .overlay i.fa-heart.active {
    color: var(--main-color); /* o verde, ajustar lo necesario */
}

.product-one:hover .product-image .overlay i{
    animation: product_icon .5s ease-in-out forwards;
}

.product-one:hover .product-image .overlay i:nth-child(2){
    animation-delay:.2s ;
}

.product-one:hover .product-image .overlay i:nth-child(3){
    animation-delay:.4s ;
}

.product-one:hover .overlay{
    opacity:1 ;
}

.product-one .product-image {
margin-bottom: 15px ;
}

@keyframes product_icon{
    0%{
        opacity: 0;
        margin-bottom: 50px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}

/* Estilos para el contenido de cada producto 
.product-one .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}
.product-one .content h4{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}
.product-one .content section{
    font-size: 14px;
    font-weight: 600;
}
.product-one article{
    text-transform: uppercase;
    font-size: 14px;
}*/

@media(max-width: 991px){
    .big-product .product-one{
        width: 32%;
    }
}

@media(max-width: 768px){
    .big-product .product-one{
        width: 49%;
    }
}

@media(max-width: 576px){
    .big-product .product-one{
        width: 100%;
    }
    .big-product .product-title h2{
        font-size: 19px;
    }
    .big-product .product-title hr{
        width: 100%;
    }
}

/* Estilos para la sección con video de fondo.*/
.bg-show{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(/images/STOYCO-F.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;/*300px 0px NO 100px */
    margin: 100px 0px;/*100px 0px*/
    display: flex;
    justify-content: center ;
    align-items: center;
}

.bg-show .link{
    width: 200px;
    height: 200px;
    border: 1px solid #f9f9f9 ;
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.bg-show .link:hover{
    border-color: rgb(153, 153, 153);
}

.bg-show .link a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: .2s ease-in-out;
    color: #fff;
}

.bg-show .link img{
    width: 2.2rem;
    vertical-align: middle;
    margin-left: -5px;
}
.bg-show .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 111;
    display: none;


}
/* Estilos para la imagen y el video en la sección*/
.bg-show .image{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
   
    display: flex;/**/
    flex-direction: column;/**/
    /*align-items: flex-end;*/
    align-items: center; /* Ajustado a centrar verticalmente */
   

}

.bg-show .image .cancel{
    position: absolute;
    top: -4%;/*-7%*/
    right: 0;
    width: 17px;/*27*/
    cursor: pointer;
}

.bg-show .image .bg-player{
position: absolute;
bottom: 5px;/*50px*/
right: 0;/*30px*/
cursor: pointer;
width: 50px;/*35px*/
margin-right: -28px;/**/
}

.bg-show .bg-player img{
width: 45%;/*35*/
}

.bg-show .image{
    animation: video is ease-in-out forwards;
}

.bg-show .image video {
    width: 100%;
    max-width:450px; /* Establece un ancho máximo para el video */
    animation: video is ease-in-out forwards;
   height: auto;
}

@keyframes video {
    0%{
        opacity: 0;
        top: 20%;
    }
    100%{
        opacity: 1;
        top: 50%;
    } 
}

@media(min-width: 992px){
    .bg-show .image video{
        width: 700px;
    }
}

@media(max-width: 991px){
    .bg-show .image video{
        width: 600px;
    }
}

@media(max-width: 768px){
    .bg-show .image video{
        width: 450px;
    }
}

@media(max-width: 576px){
    .bg-show .image video{
        width: 400px;
    }
}

@media(max-width: 401px){
    .bg-show .image video{
        width: 200px;
    }
}


 
/* Estilos para la sección de contacto */
.contact-section {
    width: 90%;
    margin: 50px auto; 
    background-color: #f8f8f8;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.map-container {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin-right: 20px; /* Espacio entre el mapa y la información de contacto */
}

.map-container iframe {
    width: 100%;
    height: 100%;
}

.contact-info {
    flex: 1; /* Ocupa todo el espacio disponible */
    max-width: 600px; 
}

.info-item {
    display: flex;
    align-items: center;
    flex-direction: column; 
    text-align: center; 
    margin-bottom: 20px;
}

.info-item i {
    color: var(--main-color);
    font-size: 2rem;
    margin-bottom: 10px;
}

.text {
    text-align: center;
}

.contact-link {
    color: black;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}
/* Media Query para hacer el diseño responsive */
@media screen and (max-width: 768px) {
    .contact-section {
        flex-direction: column; 
    }

    .map-container,
    .contact-info {
        max-width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        margin-right: 0; /* Elimina el espacio entre elementos */
    
    }
}


/*SECTION EMAIL*/
/* Estilos para la sección de consulta */


.consultation-section {
        padding: 47px 0 25px;
        margin-top: 9px;
        min-height: 412.2px;
    }


.consultation-heading {
    text-align: center;
    margin-bottom: 60px;/**/
}

.consultation-heading h2 {
    font-family: Fenix, serif;
    font-weight: 600;
}

#validationMessages {
    margin-top: 10px;
    align-items: center;
    margin-left: 10%;
    color: #666666;
}

.validation-list {
    list-style-type: none;
    padding: 0;
    text-align: justify; 
}

.validation-item {
    padding: 4px;
    margin-bottom: 4px;
    position: relative; 
    
}

.validation-item::before {
    content: '•'; /* Utilizo un punto como viñeta gg */
    color: black; 
    font-size: 1.4em; /* Tamaño del punto */
    margin-right: 8px; /* Espaciado entre la viñeta y el texto */
    position: absolute;
    left: -15px; 
    top: -3px;
    
}

.validation-intro {
    margin-bottom: 10px;
    align-items: center;
    text-align: justify; 
}


.consultation-form {
    width: 85%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group label {
    display: none;
}

.input,
.textarea {
    width: 48%;
    height: 50px;
    box-sizing: border-box;
    background-color:   #f8f8f8;
    border: none;
    
}

.textarea{
    width: 100%;
    height: 90%;
}

.input:focus,
.textarea:focus {
    outline: none; /* Elimina el contorno al hacer clic en el campo */
}


.captcha-container {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-right: 10px;
}

.input.contact-captcha {
    text-align: center;
    margin-left: auto; 
}

#captcha::placeholder {
    color: transparent;
    
}

.submit-button {
    background-color: #fff;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}


.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    transition: ease 0.3s;
}

.whatsapp-icon {
    width: 60px;
    height: 60px;
    transition: ease 0.5s;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .whatsapp-button {
        bottom: 10px;
        right: 10px;
    }

    .whatsapp-icon {
        width: 50px;
        height: 50px;
    }
}




.footer-image{
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Añadido para espaciado uniforme */
    padding: 20px; /* Añadido para espaciado interior */
   
}

.footer-image .image1{
    width: 16.6%;
    position: relative;
    /*margin-bottom: 20px; Añadido para espaciado inferior */

    
}
.footer-image .image1 img{
    width: 100%;
    border-radius: 3px; /*8px*/
   
    
}

.footer-image .insta,
.footer-image .facebook {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%; 
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
    opacity: 0;
    border-radius: 3px; /*8px*/
}

.footer-image .image1:hover .insta,
.footer-image .image1:hover .facebook {
    opacity: 1;
}

.footer-image .image1:hover .insta img,
.footer-image .image1:hover .facebook img {
    animation: instagram .5s ease-in-out;
}

.footer-image .insta img{
    width: 30px;
    cursor: pointer;
    
   
}
.footer-image .facebook img {
    width: 45px;
    cursor: pointer;
   
   
}


@keyframes instagram {
    0%{
        opacity: 0;
        margin-bottom: 10px;/*30px*/
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}
/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .footer-image .image1 {
        width: calc(100% / 3 - 10px); /* Ajustado para espaciado y bordes */
    }
}

@media (max-width: 576px) {
    .footer-image .image1 {
        width: calc(100% / 2 - 10px); /* Ajustado para espaciado y bordes */
    }
}

@media (max-width: 300px) {
    .footer-image .image1 {
        width: 100%;
    }
}






/* Estilos para el pie de página */

.footer {
    background: var(--main-color);
    text-align: center;
    color: #fff;
    padding: 20px 0;
}


.footer .credit {
    width: 100%;
    text-align: center;
    font-size: .9rem;
    margin: 1rem 0;
    padding: 1rem 0;
    margin-bottom: 0;
    border-top: .1rem solid #aaa;
    letter-spacing: .1rem;
}

.footer .credit span {
    font-weight: bold;
    color: #4abcc6;
}


